
* {
    margin: 0;
    padding: 0;
   
    font-family: Arial, sans-serif;
    overflow: hidden;
}





fieldset {
    width: 79%; 
    padding: 20px;
   /* background: #ffffff;*/
    /* border-radius: 10px; */

    
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
}



body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgb(143, 171, 181), rgb(108, 150, 202));

}


  .Gn{
    width: 342px;
    height: 100%;
   /* border-radius: 10px;*/
    margin-left:33px;
 } 



fieldset:hover {
    transform: scale(1.01);
}


input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.2s;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #26a69a;
}

/* Button styles */
input[type="button"],
input[type="reset"] {
    padding: 12px 25px;
    margin-top: 15px;
    margin-right: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease;
}

#btn {
    background-color: #29f030;
    color: white;
}

#btn:hover {
    background-color: #00796b;
}

input[type="reset"] {
    background-color: #ef5350;
    color: white;
}

input[type="reset"]:hover {
    background-color: #c62828;
}

/* Error messages */
.error {
    color: rgb(229, 52, 52);
    font-size: 17px;
    margin-top: 3px;
}

/* Table styles */
table {
    width: 95%;
    max-width: 1000px;
    margin: auto;
    border-collapse: collapse;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
}

th {
    background-color: #26a69a;
    color: white;
    padding: 12px;
}

td {
    padding: 10px 12px;
    border-bottom: 1px solid #eee;
}

tr:hover {
    background-color: #f1f1f1;
}


button.editBtn,
button.deleteBtn {
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.editBtn {
    background-color: #42a5f5;
}

.editBtn:hover {
    background-color: #1e88e5;
}

.deleteBtn {
    background-color: #ef5350;
}

.deleteBtn:hover {
    background-color: #d32f2f;
}


#msg {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}




